body {
    padding: 10px;
}

ul.nobullet {
    list-style-type: none;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
}

img {
    max-width: 250px;
    max-height: 250px;
    height: auto;
    width: auto;
}

.clickregion {
    cursor: pointer;
}

button, input, textarea, select {
    margin: 5px;
}
