{% extends "auctions/layout.html" %}
{% load static %}

{% block title %}
Create Listing
{% endblock %}

{% block body %}

<div id="create">
    <form id='fcreate' action="{% url 'create' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" 
                name="title" placeholder="Title" type="text">
        </div>
        <div class="form-group">
            <input autocomplete="off" class="form-control" 
                name="description" placeholder="Description" type="text">
        </div>
        <div class="form-group">
            <input autocomplete="off" class="form-control" 
                name="starting" placeholder="Starting Bid" type="number">
        </div>
        <div class="form-group">
            <input autocomplete="off" class="form-control" 
                name="category" placeholder="Category" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="image"
                placeholder="Image URL" type="URL">
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>

{% endblock %}