{% extends "auctions/layout.html" %}
{% load static %}

{% block title %}
    Auction List
{% endblock %}

{% block body %}
    <h2>{{ listName }}</h2>
    <div class="container">
        {% if itemList %}
            {% for item in itemList %}
                <div class="row clickregion" onclick="selectItem('{{ item.itemId }}')">
                    <div class="col-lg-3">
                        <img class="img-fluid" src="{{ item.pic }}" alt="item picture">
                    </div>
                    <div classs="col-lg-9">
                        <ul class="nobullet">
                            <li>Auction ID: {{ item.itemId }}</li>
                            <li>Status: 
                                {% if not item.completed %}
                                    Active
                                {% else %}
                                    {% if item.bid %}
                                        Sold
                                    {% else %}
                                        Closed unsold
                                    {% endif %}
                                {% endif %}</li>
                            <li>{{ item.name }}</li>
                            <li>Category: {{ item.category }}
                            <li>{{ item.description }}</li>
                            {% if item.bid %}
                                <li>High bid by {{ item.bid.bidder}} of ${{ item.bid.bidAmount }}</li>
                            {% else %}
                                <li>No bids - minimum bid is ${{ item.starting }}
                            {% endif %}
                        </ul>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h3>No listings to display</h3>
        {% endif %}
        <form id="selectItemForm" action="{% url 'displayitem' %}" method="post">
            {% csrf_token %}
            <input class="form-control" name="select" type="text" value="" hidden>
        </form>

    </div>

    <script>
        /* Called on click of auction item - submits form */
        function selectItem(item) {
            document.querySelector('input[name="select"]').setAttribute('value', item);
            document.querySelector("#selectItemForm").submit();
        }
    </script>

{% endblock %}
